<header>
  <nav class="menu">
    <div class="logo">
      <a href="#"><img
          src="imagens/logo/logo.png"
          alt=""
          width="50"
          height="50"
        /></a>
    </div>
    <div class="menu-lista">
      <ul>
        <li class="nav-item"><a class="nav-link" href="#">Início</a></li>
        <li class="nav-item"><a class="nav-link" href="#">sobre</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Produtos</a></li>
      </ul>
    </div>
    <div class="login">
      <button><a href="#">Login</a></button>
    </div>
    <div class="mobile-menu-icon">
      <button onClick="menuShow()">
        <img class="icon" src="imagens/icones/menu_white_36dp.svg">
      </button>
    </div>
  </nav>
 
</header>
 <div class="mobile-menu">
    <ul>
        <li class="nav-item"><a class="nav-link" href="#">Início</a></li>
        <li class="nav-item"><a class="nav-link" href="#">sobre</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Produtos</a></li>
      </ul>
  </div>