<header>
  <nav class="menu">
    <div class="logo">
      <a href="#"><img
          src="imagens/logo/logo.png"
          alt=""
          width="50"
          height="50"
        /></a>
    </div>
    <div class="menu-lista">
      <ul>
        <li class="nav-item"><a class="nav-link" href="#">Início</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Produtos</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Sobre</a></li>
      </ul>
    </div>
    <div class="login">
      <a href="#"><img class="login-icon" src="imagens/icones/entrar.png" width="30"></a>
    </div>
    <div class="mobile-menu-icon">
      
      <button onClick="menuShow()">
        <img class="icon" src="imagens/icones/menu_white_36dp.svg">
      </button>   
      <button>
        <a href="#"><img class="login-icon" src="imagens/icones/entrar.png" width="30"></a>
      </button>   
    </div>
  </nav>

 
</header>
   <div class="mobile-menu">
    <ul>
        <li class="nav-item"><a class="nav-link" href="#">Início</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Produtos</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Sobre</a></li>
      </ul>
  </div>