<!DOCTYPE html>
<html lang="pr-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DFStore</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    {{>_navbar}}
    <!--Sinal de maior indica que quer pegar um arquivo na pasta partials-->
    {{{body}}}

    <script src="javascript/script.js"></script>
</body>
</html>