<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DFStore</title>

</head>
<body>
    {{>_navbar}}
    <!--Sinal de maior indica que quer pegar um arquivo na pasta partials-->
    {{{body}}}
</body>
</html>