@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

header{
    align-items: center;
    /*background-image: linear-gradient(2deg, #282A35, white);*/
    background-color: #282A35;
    display: flex;
    height: 70px;
    justify-content: first baseline;
    width: 100vw;
}

.menu{
    display: flex;
    justify-content: space-between;
    position: fixed;
    padding: 1.5rem 0.5rem;
}

.menu li{
    list-style: none;
    font-size: 20px;
}

.menu ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu a {
    color: white;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
  }
.login{
    display: flex;
    align-items: center;
    
}

.login button{
    border: none;
    font-size: 19px;
    background-color: rgba(252, 224, 7, 0.797);
    color: white;
    padding: 5% 15px;

}