@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');
/*definindo corres primarias através de variavel para ser utilizada no site */

:root{
    --cor-principal: #282a35;
    --cor-secundaria: rgba(250, 202, 18, 0.797);
    --cor-ternaria: #fff;
}

*{/*REALIZANDO UM RESET EM TODAS AS CONFIGURAÇÕES DO SITE*/
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

header{
    background-color: var(--cor-principal);
    box-shadow: 0px 3px 10px #464646;
}
body{
    background-color: var(--cor-ternaria);
    overflow-x: hidden;
    overflow-y: hidden;
}

.menu{
    display: flex;
    justify-content: space-between;
    height: 100%;
    max-height: 70px;
    padding: 1.5rem 1rem;
}

.logo{
    align-items: center;
    display: flex;
}

.menu-lista{
    align-items: center;
    display: flex;
}

.menu-lista ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 ;
}

.nav-link{
    color: #fff;
    display: block;
    font-size: 1.15rem;
    font-weight: 400;
    padding: 10px;
    text-decoration: none;
}

.nav-item:hover{
    background-color: var(--cor-secundaria);
}

.login{
    align-items: center;
    display: flex;
}

.login-icon{    
    border-radius: 5px;
}

.login button{
    background-color: var(--cor-secundaria);
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
}

.login button a{
    color: white;
    font-weight: 500;
    font-size: 1.1rem;
    text-decoration: none;
}

/*inicio stilos do menu mobile*/
.mobile-menu-icon{
    display: none;
}

.mobile-menu{
    background-color: var(--cor-principal);
    display: none;
    height: 100vh;
    margin-top: 1px; 
    /*max-width: 250px;*/
    width: 170px;
    
}
.mobile-menu ul{
    list-style-type: none;
    padding: 0;    
}
.mobile-menu .nav-item{
    background-color: var(--cor-principal);
    border-bottom: 1px solid var(--cor-ternaria);
    margin: 0;
}
.mobile-menu .nav-link{
    color: var(--cor-ternaria);
    display:block;
    padding: 10px;
    text-decoration: none;
    transition: background .3s; /*criando uma transição entre os itens*/    
}
.mobile-menu .nav-item:hover{
    background-color: var(--cor-secundaria);
}

/*fim stilos do menu mobile*/

/* media de ajuste de responsividade do menu para mobile*/
@media screen and (max-width: 730px) {
    .menu{
        padding: 1.5rem 1rem;
    }   
    .menu-lista{
        display: none;
    }
    .login{
        display: none;
    }
    .mobile-menu{
        /*width: 100vh;*/
    }
    .mobile-menu-icon{
        align-items: center;
        display: flex;
    }
    .mobile-menu-icon button{
        background-color: transparent;
        border: none;
        cursor: pointer;        
        margin: 3px;
    }
    
    .open{
        display: block;
    }